  .body{
        padding: 1rem;
}

.profileCard{
    padding: 0;
}

.bioTextarea {
    resize: none;
    box-sizing: border-box;
    max-width: 100%;
}

@media (max-width:769px) {
    .body{
        padding: 0;
        border: none !important;
}
}
